html {
  background-color: black;
}
h1,
h2,
h3 {
  color: white;
}
h2 {
  text-align: center;
}
.wrapper button {
  display: block;
  padding: 2px 5px;
  cursor: pointer;
  border: 1px solid green;
  width: 100px;
  outline: hidden;
}

.wrapper button:hover {
  background-color: black;
  color: white;
}
